@font-face {
  font-family: "FontH1";
  src: url(../voxelpoint-font/VoxelpointDemo-LVO5G.ttf) format("opentype");
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

body {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

body {
  background-color: #232324;
  color: white;
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0;
}

article {
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "FontH1", serif;
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

article > p {
  font-size: 20px;
}

footer {
  text-align: center;
  border: 2px solid black;
  margin-bottom: 0;
  padding-bottom: 0;
}

header,
footer {
  background-color: black;
}

main > section > article > p {
  animation-duration: 1.5s;
  animation-name: slidein;
}

header > a > img {
  width: 50px;
}

img {
  display: block;
  margin: auto;
}

footer > p {
  text-align: center;
}

header h1 {
  margin-bottom: 2px;
}

header img {
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-btn:hover {
  background: #0056b3;
}

.articles-container {
  display: flex;
  gap: 2px; /* espace entre les articles */
}

.nav-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

h2 {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
