@font-face {
  font-family: "FontH1";
  src: url(../voxelpoint-font/VoxelpointDemo-LVO5G.ttf) format("opentype");
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  background-color: #232324;
  color: white;
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0;
}

article {
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "FontH1", serif;
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

article > p {
  font-size: 20px;
}

footer {
  text-align: center;
  border: 2px solid black;
}

header,
footer {
  background-color: black;
}

main > section > article > p {
  animation-duration: 1.5s;
  animation-name: slidein;
}

header > a > img {
  width: 50px;
}

img {
  display: block;
  margin: auto;
}

footer > p {
  text-align: center;
}

header h1 {
  margin-bottom: 2px;
}

header img {
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-btn:hover {
  background: #0056b3;
}

.articles-container {
  display: flex;
  gap: 2px; /* espace entre les articles */
}

.nav-btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: none;
  border: 2px solid #646cff;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.liquid {
  background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}
