@font-face {
  font-family: "FontH1";
  src: url("../conthrax/Conthrax-SemiBold.otf") format("opentype");
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  background-color: #232324;
  color: white;
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0;
}

.articles-container {
  display: flex;
  gap: 5px;
}

article {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "FontH1", serif;
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

article > p {
  font-size: 20px;
}

footer {
  text-align: center;
  border: 2px solid black;
}

main > section > article > p {
  border: 1px solid white;
}

header,
footer {
  background-color: black;
}

main > section > article > p {
  animation-duration: 1.5s;
  animation-name: slidein;
}

header > a > img {
  width: 50px;
}

img {
  display: block;
  margin: auto;
}

footer > p {
  text-align: center;
}

header h1 {
  margin-bottom: 2px;
}

header img {
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-btn {
  background: #1f1e1d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  transition: background 0.2s;
}

.nav-btn:hover {
  background: #0056b3;
}
