body {
  background-color: #232324;
  color: white;
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
