@font-face {
  font-family: "FontH1";
  src: url("../conthrax/Conthrax-SemiBold.otf") format("opentype");
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  background-color: #232324;
  color: white;
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "FontH1", serif;
  font-size: 70px;
}

footer {
  text-align: center;
  border: 2px solid black;
}

header,
footer {
  background-color: black;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}
