/* La barre de navigation */
nav ul {
    display: flex; /* Alignement horizontal  */
    justify-content: space-between; /* Espace entre élements  */
    list-style-type: none; /* enlever les puces */
}

/* Texte sur la barre de navigation */
nav a {
    text-decoration: none; /* Retirer les points  */
}

/* Titre principal */
h1 {
    text-align: center; /* centrer le titre principal */
}

/* Taille des logos des établissement */
article img {
    width: 100px; /* Largeur */
    height: 100px; /* Hauteur */
    object-fit: contain;
}

.ParcoursScolaire, .ParcoursPro {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info {
    width: 20px; /* Largeur */
    height: 20px; /* Hauteur */
}

h2 {
    text-align: center;
}

.Compétences {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
