h1,
h2 {
  text-align: center;
}

nav > ul {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  border: 2px solid black;
}

h1 {
  font-size: 50px;
}

.articles-container {
  display: flex;
  gap: 5px;
}

article {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
